<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="//d3js.org/d3.v4.min.js"></script>
    <script src="//d3js.org/queue.v1.min.js"></script>
    <script src="//d3js.org/topojson.v1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.0/d3-tip.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="static/css/worldmap.css" />
    <link rel="stylesheet" href="static/css/lineChart.css" />
    <link rel="stylesheet" href="static/css/dashboard.css" />
    <link rel="stylesheet" href="static/css/pcp.css" />

    <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ==" crossorigin>

    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log==" crossorigin></script>

    <script type="text/javascript" src="static/js/global_vars.js"></script>
    <script src="static/lib/d3.layout.cloud.js"></script>

    <!-- Load color scale -->
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.24.0/d3-legend.js"></script>


    <!-- <style>
     /* body {
     background-color: lightgrey;
       } */
  
    svg #svgWordCloud{
        width: 100%;
        height: 100%;
        position: center;
    }
    </style> -->

</head>

<body>
    <div id="dashboard" class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <div class="dash-unit">
                    <!-- <dtitle>Choropleth</dtitle>
                    <hr> -->
                    <div class='row'>
                        <h2>Average daily cases between 10 - 12</h1>
                    </div>
                    <div class="row" title="Choropleth">
                        <div id="worldmap-legend-svg" class="col-sm-1"></div>
                        <div id="worldmap" class="col-sm-11"></div>
                    </div>
                    
                </div>
            </div>
            <div class="col-sm-7">
                <div class="dash-unit">
                    <dtitle>Line Chart</dtitle>
                    <select id='covidattr'>
                        <option value="new_cases">Daily Cases</option>
                        <option value="new_deaths">Daily Deaths</option>
                        <option value="new_vaccinations">Daily Vaccinations</option>
                    </select>
                    <hr>
                    <div id="linechart">
                        <svg id='svgLineChart'></svg>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- <div class="col">
                <div id="barchart" class="dash-unit">
                    <svg id='svgBarChart'></svg>
                </div>
            </div> -->
            <div class="col-sm-7">
                <div class="dash-unit">
                    <dtitle>PCP</dtitle>
                    <hr>
                    <div id="pcp">
                        <svg id='svgpcplot'></svg>
                    </div>
                </div>
            </div>
            <div class = "col-sm-5">
                <div class="dash-unit">
                    <dtitle>Word Cloud</dtitle>
                    <hr>
                    <div id="wordcloud">
                        <svg id='svgWordCloud'></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <script type="text/javascript" src="static/js/worldMap.js"></script> -->
    <script type="text/javascript" src="static/js/choropleth.js"></script>
    <script type="text/javascript" src="static/js/lineChart.js"></script>
    <script type="text/javascript" src="static/js/barChart.js"></script>
    <script type="text/javascript" src="static/js/wordCloud.js"></script>
    <script type="text/javascript" src="static/js/us-states.js"></script>
    <script type="text/javascript" src="static/js/pcpPlot.js"></script>
    <!-- <script type="text/javascript" src="static/js/choroLeaf.js"></script> -->
    <script type="text/javascript" src="static/js/dashboard.js"></script>


</body>

</html>